In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'C:\Users\DELL\Desktop\Classification_Project\dataset\personality_datasert.csv')

In [3]:
data

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert
...,...,...,...,...,...,...,...,...
2895,3.0,No,7.0,6.0,No,6.0,6.0,Extrovert
2896,3.0,No,8.0,3.0,No,14.0,9.0,Extrovert
2897,4.0,Yes,1.0,1.0,Yes,4.0,0.0,Introvert
2898,11.0,Yes,1.0,3.0,Yes,2.0,0.0,Introvert
2899,3.0,No,6.0,6.0,No,6.0,9.0,Extrovert

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2900 non-null   float64
 1   Stage_fear                 2900 non-null   object
 2   Social_event_attendance    2900 non-null   float64
 3   Going_outside              2900 non-null   float64
 4   Drained_after_socializing  2900 non-null   object
 5   Friends_circle_size        2900 non-null   float64
 6   Post_frequency             2900 non-null   float64
 7   Personality                2900 non-null   object
dtypes: float64(5), object(3)
memory usage: 181.4+ KB

In [5]:
data['Stage_fear'] = data['Stage_fear'].str.replace('Yes', '1').str.replace('No', '0').astype(int)

In [6]:
data['Stage_fear']

0       0
1       1
2       1
3       0
4       0
       ..
2895    0
2896    0
2897    1
2898    1
2899    0
Name: Stage_fear, Length: 2900, dtype: int64

In [7]:
data['Drained_after_socializing'] = data['Drained_after_socializing'].str.replace('Yes', '1').str.replace('No', '0').astype(int)

In [8]:
data['Drained_after_socializing']

0       0
1       1
2       1
3       0
4       0
       ..
2895    0
2896    0
2897    1
2898    1
2899    0
Name: Drained_after_socializing, Length: 2900, dtype: int64

In [9]:
data['Personality'] = data['Personality'].str.replace('Introvert', '0').str.replace('Extrovert', '1').astype(int)

In [10]:
data['Personality']

0       1
1       0
2       0
3       1
4       1
       ..
2895    1
2896    1
2897    0
2898    0
2899    1
Name: Personality, Length: 2900, dtype: int64

In [11]:
data

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,0,4.0,6.0,0,13.0,5.0,1
1,9.0,1,0.0,0.0,1,0.0,3.0,0
2,9.0,1,1.0,2.0,1,5.0,2.0,0
3,0.0,0,6.0,7.0,0,14.0,8.0,1
4,3.0,0,9.0,4.0,0,8.0,5.0,1
...,...,...,...,...,...,...,...,...
2895,3.0,0,7.0,6.0,0,6.0,6.0,1
2896,3.0,0,8.0,3.0,0,14.0,9.0,1
2897,4.0,1,1.0,1.0,1,4.0,0.0,0
2898,11.0,1,1.0,3.0,1,2.0,0.0,0
2899,3.0,0,6.0,6.0,0,6.0,9.0,1

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2900 non-null   float64
 1   Stage_fear                 2900 non-null   int64
 2   Social_event_attendance    2900 non-null   float64
 3   Going_outside              2900 non-null   float64
 4   Drained_after_socializing  2900 non-null   int64
 5   Friends_circle_size        2900 non-null   float64
 6   Post_frequency             2900 non-null   float64
 7   Personality                2900 non-null   int64
dtypes: float64(5), int64(3)
memory usage: 181.4 KB

In [13]:
data.to_csv(r'preprocessed_dataset.csv', index=False)